<section class="breadcrumb">
		<div class="container">
			<div class="title-top">
				<a href="#">TRANG CHỦ</a> >>
				<span>Danh sach salon oto - showroom ô tô</span>
			</div>
		</div>
	</section>
	<section id="salon-oto" class="section salon-oto">
		<div class="container">
			<div class="salon-box gradien-bottom news-wrap-container">
				<div class="new-line-title">
					<h2 class="wrap-name"><a class="name" href="#">SALON OTO</a></h2>
					<div class="stripe-line"></div>
				</div>
				<div class="title-salon">
					<a href="#" class="title-hn title-country active" data-content="#salon-hn"><span>Hà Nội(330)</span></a>
					<a href="#" class="title-tphcm title-country" data-content="#salon-hcm"><span>TPHCM(171)</span></a>
					<a href="#" class="title-dn title-country" data-content="#salon-dn"><span>Đà Nẵng(171)</span></a>
					<a href="#" class="title-all title-country" data-content="#salon-all"><span>Tất cả(1000)</span></a>
					<span class="title-different title-country" data-content="#salon-different">
						<span>Tỉnh thành khác</span>
						<img src="images/gray_down_arrow.gif" alt="">
						<div class="list-city">
							<ul>
								<li>[ Miền Bắc ]</li>
								<li><a href="">Hà Nội</a></li>
							</ul>
							<ul>
								<li>[ Miền Trung ]</li>
								<li><a href="#">Quảng Ngãi</a></li>
							</ul>
							<ul>
								<li>[ Miền Nam ]</li>
								<li><a href="#">TPHCM</a></li>
							</ul>
						</div>
					</span>
				</div>
				<div class="search-salon">
					<div class="float-left">
						<h4>Salon oto / showroom oto chuyên : </h4>
						<a href="#" class="all-salon">Tất cả </a>
						<a href="#" class="new-car">Xe mới</a>
						<a href="#" class="used-vehicles">Xe đã qua sử dụng</a>
					</div>
					<div class="float-right">
						<form action="" method="GET">
							<input type="search" class="input-Search" value="" name="search" placeholder="Tìm theo tên/địa chỉ salon ô tô">
						</form>
					</div>
				</div>
			</div>
			<div class="wrap-bottom-salonoto new-container">
				<div class="bottom-salonoto-country active" id="news-project">
					<div class="one-box">
						<div class="one-news">
							<a href="#"><img class="img-news" src="images/salon1.JPG" alt=""></a>
							<div class="text-decription">
								<a href="#" class="name-news">
									Haxaco Điện Biên Phủ
								</a>
								<div class="detail-news">
									Đại lý đầu tiên của Mercedes-Benz Việt Nam
								</div>
								<div class="address">
									<i class="fas fa-map-marker-alt"></i>
									333 Điện Biên Phủ,Phường 15,Q.Bình Thạnh,TPHCM
								</div>
							</div>
						</div>
					</div>
					<div class="one-box">
						<div class="one-news">
							<a href="#"><img class="img-news" src="images/salon1.JPG" alt=""></a>
							<div class="text-decription">
								<a href="#" class="name-news">
									Haxaco Điện Biên Phủ
								</a>
								<div class="detail-news">
									Đại lý đầu tiên của Mercedes-Benz Việt Nam
								</div>
								<div class="address">
									<i class="fas fa-map-marker-alt"></i>
									333 Điện Biên Phủ,Phường 15,Q.Bình Thạnh,TPHCM
								</div>
							</div>
						</div>
					</div>
					<div class="one-box">
						<div class="one-news">
							<a href="#"><img class="img-news" src="images/salon1.JPG" alt=""></a>
							<div class="text-decription">
								<a href="#" class="name-news">
									Haxaco Điện Biên Phủ
								</a>
								<div class="detail-news">
									Đại lý đầu tiên của Mercedes-Benz Việt Nam
								</div>
								<div class="address">
									<i class="fas fa-map-marker-alt"></i>
									333 Điện Biên Phủ,Phường 15,Q.Bình Thạnh,TPHCM
								</div>
							</div>
						</div>
					</div>
					<div class="one-box">
						<div class="one-news">
							<a href="#"><img class="img-news" src="images/salon1.JPG" alt=""></a>
							<div class="text-decription">
								<a href="#" class="name-news">
									Haxaco Điện Biên Phủ
								</a>
								<div class="detail-news">
									Đại lý đầu tiên của Mercedes-Benz Việt Nam
								</div>
								<div class="address">
									<i class="fas fa-map-marker-alt"></i>
									333 Điện Biên Phủ,Phường 15,Q.Bình Thạnh,TPHCM
								</div>
							</div>
						</div>
					</div>
					<div class="one-box">
						<div class="one-news">
							<a href="#"><img class="img-news" src="images/salon1.JPG" alt=""></a>
							<div class="text-decription">
								<a href="#" class="name-news">
									Haxaco Điện Biên Phủ
								</a>
								<div class="detail-news">
									Đại lý đầu tiên của Mercedes-Benz Việt Nam
								</div>
								<div class="address">
									<i class="fas fa-map-marker-alt"></i>
									333 Điện Biên Phủ,Phường 15,Q.Bình Thạnh,TPHCM
								</div>
							</div>
						</div>
					</div>
					<div class="one-box">
						<div class="one-news">
							<a href="#"><img class="img-news" src="images/salon1.JPG" alt=""></a>
							<div class="text-decription">
								<a href="#" class="name-news">
									Haxaco Điện Biên Phủ
								</a>
								<div class="detail-news">
									Đại lý đầu tiên của Mercedes-Benz Việt Nam
								</div>
								<div class="address">
									<i class="fas fa-map-marker-alt"></i>
									333 Điện Biên Phủ,Phường 15,Q.Bình Thạnh,TPHCM
								</div>
							</div>
						</div>
					</div>
					<div class="one-box">
						<div class="one-news">
							<a href="#"><img class="img-news" src="images/salon1.JPG" alt=""></a>
							<div class="text-decription">
								<a href="#" class="name-news">
									Haxaco Điện Biên Phủ
								</a>
								<div class="detail-news">
									Đại lý đầu tiên của Mercedes-Benz Việt Nam
								</div>
								<div class="address">
									<i class="fas fa-map-marker-alt"></i>
									333 Điện Biên Phủ,Phường 15,Q.Bình Thạnh,TPHCM
								</div>
							</div>
						</div>
					</div>
					<div class="one-box">
						<div class="one-news">
							<a href="#"><img class="img-news" src="images/salon1.JPG" alt=""></a>
							<div class="text-decription">
								<a href="#" class="name-news">
									Haxaco Điện Biên Phủ
								</a>
								<div class="detail-news">
									Đại lý đầu tiên của Mercedes-Benz Việt Nam
								</div>
								<div class="address">
									<i class="fas fa-map-marker-alt"></i>
									333 Điện Biên Phủ,Phường 15,Q.Bình Thạnh,TPHCM
								</div>
							</div>
						</div>
					</div>
					<div class="one-box">
						<div class="one-news">
							<a href="#"><img class="img-news" src="images/salon1.JPG" alt=""></a>
							<div class="text-decription">
								<a href="#" class="name-news">
									Haxaco Điện Biên Phủ
								</a>
								<div class="detail-news">
									Đại lý đầu tiên của Mercedes-Benz Việt Nam
								</div>
								<div class="address">
									<i class="fas fa-map-marker-alt"></i>
									333 Điện Biên Phủ,Phường 15,Q.Bình Thạnh,TPHCM
								</div>
							</div>
						</div>
					</div>
					<div class="one-box">
						<div class="one-news">
							<a href="#"><img class="img-news" src="images/salon1.JPG" alt=""></a>
							<div class="text-decription">
								<a href="#" class="name-news">
									Haxaco Điện Biên Phủ
								</a>
								<div class="detail-news">
									Đại lý đầu tiên của Mercedes-Benz Việt Nam
								</div>
								<div class="address">
									<i class="fas fa-map-marker-alt"></i>
									333 Điện Biên Phủ,Phường 15,Q.Bình Thạnh,TPHCM
								</div>
							</div>
						</div>
					</div>
					<div class="one-box">
						<div class="one-news">
							<a href="#"><img class="img-news" src="images/salon1.JPG" alt=""></a>
							<div class="text-decription">
								<a href="#" class="name-news">
									Haxaco Điện Biên Phủ
								</a>
								<div class="detail-news">
									Đại lý đầu tiên của Mercedes-Benz Việt Nam
								</div>
								<div class="address">
									<i class="fas fa-map-marker-alt"></i>
									333 Điện Biên Phủ,Phường 15,Q.Bình Thạnh,TPHCM
								</div>
							</div>
						</div>
					</div>
					<div class="one-box">
						<div class="one-news">
							<a href="#"><img class="img-news" src="images/salon1.JPG" alt=""></a>
							<div class="text-decription">
								<a href="#" class="name-news">
									Haxaco Điện Biên Phủ
								</a>
								<div class="detail-news">
									Đại lý đầu tiên của Mercedes-Benz Việt Nam
								</div>
								<div class="address">
									<i class="fas fa-map-marker-alt"></i>
									333 Điện Biên Phủ,Phường 15,Q.Bình Thạnh,TPHCM
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>